body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif;
	background-color: #eed6c2;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #eee;
}


  
header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
	
}

section {
    height: 500%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: top;
    text-align: center;
	font-size: 20px;
    
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

.profile-img {
    width: 500px;
    border-radius: 50%;
}



footer {
    text-align: center;
    padding: 50px;
}

#hero h1 {
    font-size: 4em;
}

section h2 {
    font-size: 3em;
}

section h3 {
    font-size: 2em;
}

header a {
    text-decoration: none;
    color: black;
}

/* Add everything below here */

#hero {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75))

#about {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75))
}

#portfolio {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)
}
#contact {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)